<div class="container">
  <div class="row">
    <a class="col-md-12 go-back" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>Go back</a>
    <div class="kt-portlet server-wrapper">
      <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
          <div class="kt-widget__top">
            <div class="kt-widget__media">
              <img src="assets/images/minecraft_grass_block.png" alt="image">
            </div>
            <div class="kt-widget__content">
              <div class="kt-widget__head">
                <a [routerLink]="'/server/123'" class="kt-widget__title">Nexa - Next generation SAAS <app-pulse color="green" [animate]="true"></app-pulse></a>
                <div class="kt-widget__action">
                  <button type="button" class="btn btn-sm btn-icon" style="background: #edeff6"><fa-icon [icon]="['fas', 'folder-open']"></fa-icon></button>&nbsp;
                  <button type="button" class="btn btn-sm btn-icon" style="background: #edeff6"><fa-icon [icon]="['fas', 'terminal']"></fa-icon></button>&nbsp;
                  <button type="button" class="btn btn-sm btn-icon disabled" style="background: #edeff6"><fa-icon [icon]="['fas', 'play']"></fa-icon></button>&nbsp;
                  <button type="button" class="btn btn-sm btn-icon" style="background: #edeff6"><fa-icon [icon]="['fas', 'pause']"></fa-icon></button>
                </div>
              </div>
              <div class="kt-widget__subhead kt-hidden">
                <a href="#"><i class="flaticon2-new-email"></i>jason@siastudio.com</a>
                <a href="#"><i class="flaticon2-calendar-3"></i>PR Manager </a>
                <a href="#"><i class="flaticon2-placeholder"></i>Melbourne</a>
              </div>
              <div class="kt-widget__info">
                <div class="kt-widget__desc">
                  I distinguish three main text objektive.First, your could
                  <br> be merely to inform people a second could be persuade people.
                  <br> You want people to bay your products
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="col-md-12 go-back" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>Go back</a>
  </div>
</div>
