<div class="container">
  <a class="col-md-12 go-back" [routerLink]="'/'"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>Go back</a>
  <div class="window row kt-label-bg-color-4">
    <div class="col-md-12">
      <div class="row terminal-header kt-label-bg-color-1">
        <span class="terminal-dots">. . .</span>
        <h1>
          My Server #1
        </h1>
      </div>
    </div>
    <div class="terminal" *ngIf="getLogs()|async as serverLogs">
      <p class="log" *ngFor="let log of serverLogs">{{log}}</p>
    </div>
  </div>

</div>
