/* You can add global styles to this file, and also import other style files */

@import "assets/metronic/style";


.btn:not(.btn-icon) fa-icon {
  padding-right: .5rem;
}

.app-tooltip {
  position: fixed;
  z-index: 999;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  box-shadow: $popover-box-shadow;
  white-space:nowrap;
  max-width:none;
  padding: 5px 15px;

  &:before {
    content: ' ';
    width: 8px;
    height: 8px;
    background-color: #f0f3ff;
    position: absolute;
    top: -4px;
    transform: rotate(45deg);
    left: calc(50% - 4px);
  }

  &.active {
    opacity: 1;
  }
}
